.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1400px;
  margin-bottom: 100px;
  /* width: 100vw; */
  align-items: center;
  /* overflow: scroll; */
}

body {
  align-self: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: rgb(227, 245, 255);
}

body {
  font-family: sans-serif;
}
