.app-body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* max-width: 1400px; */
  align-items: center;
  margin-bottom: 100px;
  /* width: 100vw; */
  /* overflow: scroll; */
}

body {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: auto;
  align-self: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: rgb(227, 245, 255);
}

body {
  font-family: sans-serif;
}
