.navbarlink {
  cursor: pointer;
}

.close-btn {
  margin: 15px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

input {
  padding: 5px;
  border: 2px solid #daddec;
  margin: 10px 0 10px;
  font-size: 1rem;
  color: #656880;
}

.submit-btn {
  padding: 5px;
  width: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}
